<template>
    <canvas ref="view" @contextmenu="preventDefault"></canvas>
    <canvas ref="debug" @contextmenu="preventDefault" @touchstart="preventDefault" v-show="props.debug"></canvas>
</template>

<script setup lang="ts">
import { defineEmit, defineProps, onMounted, ref, watch } from 'vue'
import { Application } from 'pixi.js'
import { Debug } from './Debug'

const emit = defineEmit([ 'awake' ])

const props = defineProps({
    debug: {
        type: Boolean,
        default: false
    }
})

const view = ref<HTMLCanvasElement>()
const debug = ref<HTMLCanvasElement>()

let app: Application
let debugRenderer: CanvasRenderingContext2D | undefined

onMounted(()=>{
    app = new Application({
        view: view.value,
        width: window.innerWidth,
        height: window.innerHeight,
        antialias: false,
        backgroundColor: 0x000000,
        backgroundAlpha: 1,
        resolution: 1,
    })
	
    app.stage.sortableChildren = true;

    if (debug.value) {
        debug.value.width = app.renderer.width;
        debug.value.height = app.renderer.height;
    }

    debugRenderer = debug.value?.getContext('2d', { antialias: false }) as CanvasRenderingContext2D | undefined;
    if (props.debug && debugRenderer) {
        Debug.instantiate(debugRenderer, app)
    }
    
    app.ticker.add(()=>Debug.renderer?.clearRect(0, 0, app.renderer.width, app.renderer.height))

    console.log(`[renderer] size ${app.renderer.width}x${app.renderer.height}`)

    emit('awake', app)
})

watch(()=>props.debug, (value, _)=>{
    if (value) {
        if (debugRenderer) {
            Debug.instantiate(debugRenderer, app)
        }
    } else {
        Debug.renderer = undefined;
    }
})

const preventDefault = (ev: Event)=>{
    ev.preventDefault()
    return false
}
</script>

<style scoped>
canvas {
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;
}
canvas + canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>