<template>
	<CustomRender @awake="run" :debug="isDebugging" />
</template>

<script setup lang="ts">
import CustomRender from './components/CustomRender.vue'
import { ref } from 'vue'
import * as PIXI from 'pixi.js'
import { TouchableObjects } from './scene/TouchableObjects'
import { Puzzle } from './scene/Puzzle'
import { defer } from './utils'

interface ScenePuzzle {
	container: PIXI.Container
	puzzle: Puzzle
	backgroundSprite?: PIXI.Sprite
}

const isDebugging = ref(true)
const sceneObjects: Array<ScenePuzzle> = [ ]
let atlasUrl = `face_0.json`
let atlasBackgroundSprite = `bg.png`

const run = async (app: PIXI.Application)=>{
	const halfSize = new PIXI.Point(app.renderer.width/2, app.renderer.height/2)

	TouchableObjects.instantiate(app)
	TouchableObjects.touchesZones.push(new PIXI.Rectangle(0, 0, halfSize.x, halfSize.y*2))
	TouchableObjects.touchesZones.push(new PIXI.Rectangle(halfSize.x, 0, halfSize.x, halfSize.y*2))
	
	const root = new PIXI.Container()
	root.x = halfSize.x;
	root.y = halfSize.y;
	root.sortableChildren = true;
	app.stage.addChild(root)

	sceneObjects.push(addPuzzleWithContainer(app, -halfSize.x/2, 0, 1,  Math.PI/2))
	sceneObjects.push(addPuzzleWithContainer(app, halfSize.x/2, 0, 1, -Math.PI/2))

	const loading = defer<void>()
	app.loader
		.add(atlasUrl)
		.load(loading.fulfill)

	await loading
	
	const textures = app.loader.resources[atlasUrl].textures;
	if (!textures) return

	let faceRadius = Math.min(halfSize.x, halfSize.y)
	let faceScale = 1;
	if (atlasBackgroundSprite in textures) {
		const backgroundTexture = textures[atlasBackgroundSprite];
		faceRadius = 50+(Math.min(backgroundTexture.width/2, backgroundTexture.height/2))
		sceneObjects.forEach(sceneObject=>{
			const sprite = sceneObject.backgroundSprite = new PIXI.Sprite(backgroundTexture)
			sprite.anchor.set(0.5, 0.5)
			const size =  Math.min(halfSize.x, halfSize.y, sprite.width, sprite.height)
			faceScale = Math.min(size/sprite.width, size/sprite.height)
			sprite.scale.set(faceScale, faceScale)
			sprite.rotation = sceneObject.container.rotation;
			sprite.x = sceneObject.container.x;
			sprite.y = sceneObject.container.y;
			root.addChild(sprite)
		})
	}

	let puzzleSprites = Object.entries(textures)
		.filter(([name])=>name!==atlasBackgroundSprite)
		.map<PIXI.Texture<PIXI.Resource>>(([,tex])=>tex)

	await Promise.all(sceneObjects.map(({ puzzle, container })=>{
		container.scale.set(faceScale, faceScale)
		puzzle.awake(puzzleSprites, faceRadius, 1, container)}
	))
	
	sceneObjects.forEach(({ container })=>root.addChild(container))
}

/**
 * Creates Puzzle object and container for it
 * @param app the PIXI.js application object
 * @param x position of the container
 * @param y position of the container
 * @param scale of the container
 * @param rotation of the container in radians
 */
const addPuzzleWithContainer = (app: PIXI.Application, x: number, y: number, scale: number, rotation: number): ScenePuzzle => {
	const puzzle = new Puzzle(app)
	const container = new PIXI.Container()
	container.x = x;
	container.y = y;
	container.rotation = rotation;
	container.scale.set(scale, scale)
	return { container, puzzle }
}

/**
 * Removes a texture cache and destroys a texture
 * @param tex the PIXI.js texture object that needs to destroy
 */
const destroyTexture = (tex: PIXI.Texture | undefined)=>{
	if (!tex) { return }
	PIXI.Texture.removeFromCache(tex)
	PIXI.BaseTexture.removeFromCache(tex.baseTexture)
	tex.destroy()
}
    
/**
 * Removes PIXI.js loader resource and all associated textures
 * @param app the PIXI.js application object
 * @param res the PIXI.js loader resource that needs to destroy
 */
const destroyResource = (app: PIXI.Application, res: PIXI.ILoaderResource)=>{
	destroyTexture(res.texture)
	if (res.textures) {
		for(let name in res.textures) {
			destroyTexture(res.textures[name])
		}
	}
	res.children.forEach(r=>destroyResource(app, r))
	delete app.loader.resources[res.name];
}
</script>

<style>
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	height: 100%;
}
</style>